@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "SFPro Display-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("static/fonts/FontsFree-Net-SFProDisplay-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SFPro Display-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/FontsFree-Net-SFProDisplay-Regular (1).ttf") format("truetype");
}
@font-face {
  font-family: "SFPro Display-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("static/fonts/SFPro Display-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "SFPro Display-Semibold";
  font-style: normal;
  font-weight: 600;
  src: url("static/fonts/FontsFree-Net-SFProDisplay-Semibold.ttf") format("truetype");
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
