.contact-button {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 30px;
  display: flex;
  height: 39px;
  margin-left: 24px;
  min-width: 105px;
  padding: 10px 15px;
}

.x11,
.x11-1 {
  align-items: flex-end;
  display: flex;
  height: 17px;
  min-width: 75px;
}

.icon {
  letter-spacing: -0.35px;
  line-height: 14px;
  margin-bottom: -3px;
  min-height: 18px;
  min-width: 18px;
  white-space: nowrap;
}

.text {
  letter-spacing: -0.35px;
  line-height: 14px;
  margin-bottom: -3.5px;
  margin-left: 8px;
  min-height: 19px;
  min-width: 49px;
  white-space: nowrap;
}

